#waitlist-page{
    padding:100px;
    h1{
        font-size: 4rem;
        font-weight: 700;
        color: black;
        margin-bottom: 2rem;
    }
    .content-box{
        p{
            font-size: .9rem;
            line-height: 2rem;
            margin-bottom: 2rem;
            font-weight: 600;
        }
        & .about-img{
            img{
                max-width: 100%;
                height: auto;
            }
        }
        form{
            .firstname-container,.lastname-container{
                width:90%;
            }
            .firstname-container{
                margin-right: 10px;
            }
            input{
                border:#6e0000 2px solid;
            }
            label{
                font-weight: 700;
                font-size: 1.2rem;
            }
            select{
                font-size: 1.2rem;
                border:#6e0000 2px solid;
            }
            button[type="submit"]{
                padding:20px 25px;
                font-family: inherit;
                font-size: 1.2rem;
                background-color: #9c1b24;
                border:none;
            }
           
        }
    }
}

@media (min-width: 0px) and (max-width: 767px) { 
    #app-layout{
      .side-menu{
        z-index: 5;
        transform: translate(-300px);
    }
      #content-section{
            transform: translateX(0) !important;
            width:100%  !important ;
            max-width:100%   !important;
            flex-direction: column;
            background: #ed4852;
            background: radial-gradient(ellipse at center, #ed4852 0%, #9c1b24 100%);
            overflow-y: scroll;
            #waitlist-page{
                h1{
                    font-size: 2.5rem;
                }
                padding:20px;
                button[type="submit"]{
                    margin-bottom: 2rem;
                }
            }
        }
    }
  }
  @media (min-width: 768px) and (max-width:1023px){
      #app-layout{
      .side-menu{
        z-index: 5;
        transform: translate(-300px);
        }
        #content-section{
            transform: translateX(0) !important;
            width:100% !important;
            max-width:100% !important;
            overflow-y: scroll;
            #waitlist-page{
                h1{
                    font-size: 2.5rem;
                }
                padding:20px;
            }
            .about-img{
                display: block;
            }
        }
    }
}
// @media (min-width:1024px) {
//     #content-section{
//         .about-img{
//             display:block;
//         }
//     }
// }
